* {
  box-sizing: border-box;
  margin: 0;
  line-height: calc(2ex + 6px);
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

body {
  accent-color: var(--color-surface-dark);
  font-family: var(--ff-body);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-surface-dark);
  font-weight: var(--fw-bold);
}

/* stylelint-disable-next-line no-descending-specificity */
button,
label,
input,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

:where(button,label,input,textarea,select,option,a):focus-visible {
  outline: solid 4px;
}

img {
  height: auto;
}

::selection {
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  text-shadow: none;
}

/* stylelint-disable-next-line no-descending-specificity */
button {
  cursor: pointer;
  border: none;
  background: var(--color-surface-dark);
  color: var(--color-surface-light);

  &:focus-visible {
    outline: solid 4px var(--color-surface-dark);
    outline-offset: 4px;
  }
}

p + p {
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

code {
  font-family: var(--ff-code);
  font-size: var(--fs-sm);
  background-color: var(--color-surface-medium);
  padding: 4px;
}
