@import "../functions";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --line-height: calc(2ex + 5px);
  line-height: var(--line-height);
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

noscript {
  display: contents;
}

body {
  font-family: var(--ff-body);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-surface-dark);
  font-weight: inherit;
}

/* stylelint-disable-next-line no-descending-specificity */
button,
label,
input,
textarea,
select,
option {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  accent-color: var(--color-surface-dark);
}

input,
select,
textarea {
  padding: 8px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

input[type="number"] {
  max-width: calc(4ch + 2rem);
}

input[type="checkbox"] {
  width: clamped(12px, 18px);
  height: clamped(12px, 18px);
}

:where(input,textarea,select,option) {
  font-weight: var(--fw-body-regular);
}

:where(button,label,input,textarea,select,option,a):focus-visible {
  outline: solid 4px;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  text-shadow: none;
}

/* stylelint-disable-next-line no-descending-specificity */
button {
  cursor: pointer;
  border: none;
  background: var(--color-surface-dark);
  color: var(--color-surface-light);

  &:focus-visible {
    outline: solid 4px var(--color-surface-dark);
    outline-offset: 4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.25em;
}

h1 {
  font-size: var(--fs-xxxl);
}

h2 {
  font-size: var(--fs-xxl);
}

h3 {
  font-size: var(--fs-xl);
}

h4 {
  font-size: var(--fs-lg);
}

h5 {
  font-size: var(--fs-md);
}

h6 {
  font-size: var(--fs-base);
}

code {
  font-family: var(--ff-code);
  font-weight: var(--fw-code-regular);
  font-size: var(--fs-sm);
  background-color: var(--color-surface-medium);
  padding: 4px;
}
