@import "../functions";
@import "../mixins";

.stack {
  --gap: var(--fs-xl);
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);
  grid-auto-flow: row;
  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

.flow {
  max-width: 64ch;

  > * + * {
    margin-top: var(--line-height);
  }
}

.list {
  padding-inline-start: 1em;
  display: grid;
  gap: var(--fs-sm);
}
