html {
  --font-size-sm: clamp(0.8rem, 0.53vw + 0.67rem, 1rem);
  --font-size-base: clamp(1rem, 0.67vw + 0.83rem, 1.25rem);
  --font-size-md: clamp(1.25rem, 0.83vw + 1.04rem, 1.56rem);
  --font-size-lg: clamp(1.56rem, 1.04vw + 1.3rem, 1.95rem);
  --font-size-xl: clamp(1.95rem, 1.3vw + 1.63rem, 2.44rem);
  --font-size-xxl: clamp(2.44rem, 1.63vw + 2.03rem, 3.05rem);
  --font-size-xxxl: clamp(3.05rem, 2.03vw + 2.54rem, 3.81rem);
  --fw-regular: 400;
  --fw-bold: 900;
  color-scheme: light;
}
