html {
  --fw-regular: 400;
  --fw-bold: 900;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
