// Usage @media screen and (min-width: bp)
$media-breakpoints: (
  mobile-min: 360px,
  mobile: 400px,
  mobile-lg: 500px,
  tablet-sm: 640px,
  tablet: 768px,
  desktop: 960px,
  desktop-lg: 1024px,
);
