@import "../../../styles/mixins";

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-sm);
  text-align: center;
  font-size: var(--sp-sm);

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-link {
  font-weight: var(--fw-body-bold);
}

.socials {
  display: flex;
  gap: var(--sp-3xs);
  list-style: none;

  a {
    padding: var(--sp-3xs);
  }
}
