@import "/@root/styles/functions";

.hero-banner {
  padding: clamped(12px, 48px) 0;
}

.title {
  font-size: var(--sp-xxxxl);
  font-weight: var(--fw-body-bold);
  margin-bottom: var(--sp-base);
}

.subtitle {
  font-size: var(--sp-lg);
  max-width: 50ch;
  margin: 0 auto;
}

.title,
.subtitle {
  text-align: center;
  overflow-wrap: anywhere;
  word-break: break-word;
}
