.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-sm);
  padding: var(--sp-xl) 0;
  text-align: center;
  font-size: var(--sp-sm);

  a {
    font-weight: var(--fw-body-bold);
  }
}

.socials {
  display: flex;
  gap: var(--sp-xxs);
  list-style: none;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sp-xxs);
  }

  svg {
    width: var(--sp-md);
    height: var(--sp-md);
  }
}
