.legend {
  display: grid;
  gap: 0.2em;

  &-title {
    font-weight: var(--fw-body-bold);
  }
}

.label-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: var(--sp-sm);

  > label {
    /* to emphasize proximity, enforce a fixed small gap on the label children */
    gap: 4px;

    /* all labels in the group should be vertically stacked */
    grid-auto-flow: row;
    grid-template-rows: auto min-content;

    /* in case one label has longer text than the others, always align each label's text to the bottom
    so it's as close to its corresponding input as possible */
    align-items: end;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(:not(legend.sr-only)) + .label-group {
  /* Ideally, we'd use a grid parent layout at the fieldset level, but fieldsets don't support flex/grid. The alternative
  is to wrap all of the fieldset's children in a div, but that clobbers the legend in the accessibility tree. Plus this solution is lighter. */
  margin-block-start: var(--sp-md);
}
