@import "../../../styles/functions";

.fieldset {
  max-width: to-rems(1200px);
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  max-width: 1200px;

  &-title {
    font-weight: var(--fw-body-bold);
  }
}

.label-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sp-sm);

  > * {
    flex: 1;
    min-width: min(175px, 100%);
  }

  > label {
    /* to emphasize proximity, enforce a fixed small gap on the label children */
    gap: 4px;
  }
}

/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
:global(:not(legend.sr-only)) + .label-group {
  /* Ideally, we'd use a grid parent layout at the fieldset level, but fieldsets don't support flex/grid. The alternative
  is to wrap all of the fieldset's children in a div, but that clobbers the legend in the accessibility tree. Plus this solution is lighter. */
  margin-block-start: var(--sp-md);
}
