@import "../../../styles/mixins";

.label {
  display: flex;
  gap: var(--sp-2xs);

  &-text {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }

  &-title {
    font-weight: var(--fw-body-bold);
  }
}

.to-horizontal,
.vertical {
  flex-direction: column;
  justify-content: end;
}

.horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  input {
    max-width: to-rems(120px);
  }
}

@include mobile-lg {
  .to-horizontal {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    input {
      max-width: to-rems(120px);
    }
  }
}
