@import "../../../styles/mixins";

.label {
  display: grid;
  gap: var(--sp-xxs);
  align-items: center;
  grid-template-columns: minmax(0, 1fr);

  &-text {
    display: grid;
    gap: var(--sp-xxs);
  }

  &-title {
    font-weight: var(--fw-body-bold);
  }
}

@include mobile-lg {
  .switcher {
    display: grid;
    align-items: end;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
