@import "../../../styles/functions";

.layout {
  display: grid;
  min-height: 100%;
  max-width: 1480px;
  margin-inline: auto;
  gap: var(--sp-4xl);
  padding: clamped(100px, 148px) var(--sp-xs) var(--sp-xl);
}
