.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-base);
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  font-size: var(--sp-sm);
}
