.type-scale-calculator {
  display: grid;
  gap: var(--sp-4xl);
}

.form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--sp-xl);
  margin: 0;
  padding: var(--sp-lg);
  border: solid var(--sp-2xs) var(--color-surface-dark);
}

.type-scale-stack {
  gap: var(--sp-xl);
}
