@import "../functions";
@import "../mixins";

body {
  padding: clamped(12px, 48px);
  padding-top: clamped(32px, 100px);
  font-size: var(--font-size-base);
}

#app {
  display: grid;
  gap: 16px;

  header {
    margin-bottom: 32px;
  }
}

.content {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  @include desktop-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

.result {
  height: fit-content;
  display: grid;
  gap: 16px;
  @include desktop-lg {
    position: sticky;
    top: 25%;
  }
}

.title {
  font-size: var(--font-size-xxxl);
  font-weight: var(--fw-bold);
  margin-bottom: 16px;
}

.subtitle {
  font-size: var(--font-size-md);
}

.title,
.subtitle {
  text-align: center;
}

label {
  display: grid;
  align-items: center;
  gap: 6px;
  font-weight: var(--fw-bold);

  &[data-flow="horizontal"] {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }
}

.label-description {
  font-size: var(--font-size-sm);

  &,
  a {
    font-weight: var(--fw-regular);
  }
}

input[type="number"] {
  max-width: calc(4ch + 2rem);
}

input,
select {
  padding: 8px;
}

fieldset {
  display: grid;
  gap: 24px;
  margin: 0;
  padding: clamped(16px, 32px);
  border: none;
  border: solid 8px black;
  border-radius: 4px;
}

#output {
  border: solid 1px hsl(0deg 0% 60%);
  background-color: hsl(0deg 0% 95%);
  white-space: pre;
  display: flex;
  font-family: IBM Plex Mono, monospace;
  overflow-x: scroll;
  padding: clamped(16px, 32px);
  border-radius: 4px;
}

#copy-to-clipboard {
  padding: 24px;
  text-align: center;

  &[data-copied="false"] {
    &::before {
      content: "Copy code to clipboard";
    }
  }

  &[data-copied="true"] {
    &::before {
      content: "Copied!";
    }
  }
}

footer {
  padding: clamped(16px, 32px) 0;
  text-align: center;
  font-size: var(--font-size-sm);
}

button {
  background: black;
  color: white;
  font-weight: var(--fw-bold);
}
