@import "../functions";
@import "../mixins";

body {
  padding: clamped(12px, 32px);
  padding-top: clamped(48px, 100px);
  padding-bottom: 0;
  font-size: var(--sp-base);
  max-width: 1800px;
  margin: 0 auto;
}

header {
  padding: clamped(12px, 48px) 0;
}

#app {
  display: grid;
  gap: var(--sp-xl);
}

.title {
  font-size: var(--sp-xxxxl);
  font-weight: var(--fw-body-bold);
  margin-bottom: var(--sp-base);
}

.subtitle {
  font-size: var(--sp-lg);
  max-width: 50ch;
  margin: 0 auto;
}

.title,
.subtitle {
  text-align: center;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.output {
  &-wrapper {
    max-height: 50vh;
    overflow: auto;
  }
  @include desktop {
    align-self: flex-start;
    position: sticky;
    top: var(--gap);
  }
}

.form {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--sp-lg);
  margin: 0;
  padding: var(--sp-lg);
  border: none;
  border: solid var(--sp-xxs) var(--color-surface-dark);

  h2 {
    font-size: var(--sp-lg);
  }
}

.label {
  display: inline-grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  gap: var(--sp-xs);
  font-weight: var(--fw-body-light);

  &-title {
    font-size: var(--sp-base);
    font-weight: var(--fw-body-bold);
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-xs);
  }

  &[data-flow="horizontal"] {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }
}

#code {
  border: solid 1px var(--color-border);
  background-color: var(--color-surface-medium);
  white-space: pre;
  display: flex;
  font-family: var(--ff-code);
  font-weight: var(--fw-code-regular);
  font-size: var(--sp-sm);
  overflow: auto;
  padding: var(--sp-lg);
  user-select: all;
  line-height: 1.6;
}

#copy-to-clipboard {
  width: 100%;
  padding: 24px;
  text-align: center;

  &[data-copied="false"] {
    &::before {
      content: "Copy code to clipboard 📋";
    }
  }

  &[data-copied="true"] {
    &::before {
      content: "Copied! 🎉";
    }
  }
}

#preview {
  max-width: 100%;
  width: 100%;
  overflow: hidden;

  table {
    --cell-padding: var(--sp-xs);
    margin-left: calc(-1 * var(--cell-padding));
    margin-right: calc(-1 * var(--cell-padding));
    margin-top: var(--sp-xxl);
  }

  :is(th, td) {
    border: none;
    padding: var(--cell-padding);

    &.numeric {
      text-align: end;
    }
  }

  th {
    text-align: start;
    font-weight: var(--fw-body-bold);
    padding-top: 0;
  }

  .preview-text {
    width: 100%;
    white-space: nowrap;
  }
}

.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sp-sm);
  padding: var(--sp-xl) 0;
  text-align: center;
  font-size: var(--sp-sm);

  a {
    font-weight: var(--fw-body-bold);
  }
}

.socials {
  display: flex;
  gap: var(--sp-xxs);
  list-style: none;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--sp-xxs);
  }

  svg {
    width: var(--sp-md);
    height: var(--sp-md);
  }
}

.github-corner {
  position: absolute;
  top: 0;
  right: 0;

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner:hover .octo-arm {
    animation: none;
  }
}
