* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --line-height: calc(2ex + 5px);
  line-height: var(--line-height);
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

body {
  font-family: var(--ff-body);
  accent-color: var(--color-surface-dark);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-surface-dark);
  font-weight: inherit;
}

/* stylelint-disable-next-line no-descending-specificity */
button,
label,
input,
textarea,
select,
option {
  font: inherit;
}

input,
select,
textarea {
  --input-padding: 8px;
  padding: var(--input-padding);
  border-radius: 0;
  border: solid 1px var(--color-border);
  font-weight: var(--fw-body-regular);
}

select {
  appearance: none;
  background-color: var(--color-surface-light);
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24"><path d="M2 4l10 12l10-12" stroke-width="4" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - var(--input-padding)) center;
  padding-inline-end: calc(3 * var(--input-padding));
}

select,
input:where([type="number"], [type="text"]) {
  width: 100%;
  min-height: 46px;
}

input[type="checkbox"] {
  width: var(--sp-base);
  height: var(--sp-base);
}

:where(input,textarea,select,option) {
  font-weight: var(--fw-body-regular);
}

:where(button,label,input,textarea,select,option,a):focus-visible {
  outline: solid 4px;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  text-shadow: none;
}

button {
  cursor: pointer;
  border: none;
  background: var(--color-surface-dark);
  color: var(--color-surface-light);

  &:focus-visible {
    outline: solid 4px var(--color-surface-dark);
    outline-offset: 4px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0.25em;
}

h1 {
  font-size: var(--sp-xxxl);
}

h2 {
  font-size: var(--sp-xxl);
}

h3 {
  font-size: var(--sp-xl);
}

h4 {
  font-size: var(--sp-lg);
}

h5 {
  font-size: var(--sp-md);
}

h6 {
  font-size: var(--sp-base);
}

code {
  font-family: var(--ff-code);
  font-weight: var(--fw-code-regular);
  font-size: var(--sp-sm);
  background-color: var(--color-surface-medium);
  padding: 4px;
}

fieldset {
  border: none;
}
