@import "../functions";
@import "../mixins";

// Generic utility classes used for both statically and dynamically rendered content

.stack {
  --gap: var(--sp-xl);
  display: grid;
  gap: var(--gap);
  grid-template-columns: minmax(0, 1fr);
  grid-auto-flow: row;
  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

.flow {
  max-width: 64ch;

  > * + * {
    margin-top: var(--line-height);
  }
}

.list {
  padding-inline-start: 1em;
  display: grid;
  gap: var(--sp-sm);
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.label {
  align-items: center;
  grid-template-columns: minmax(0, 1fr);
  font-weight: var(--fw-body-light);

  &,
  legend {
    display: inline-grid;
    gap: var(--sp-xs);
  }

  &-title {
    font-size: var(--sp-base);
    font-weight: var(--fw-body-bold);
    display: block;
  }

  &-group {
    margin-block-start: var(--sp-md);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    gap: var(--sp-xs);

    label {
      display: inline-grid;
      gap: 4px;
      grid-template-rows: auto min-content;
      height: 100%;
      align-items: start;
      justify-content: stretch;
    }
  }

  &[data-flow="horizontal"] {
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
  }
}
