@import "../../../styles/mixins";

.range {
  display: grid;
  gap: var(--sp-xxs);

  input[type="range"] {
    padding: 4px 0;
  }

  &-display {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--sp-xxs);
  }
}
