@import "../../../styles/functions";
@import "../../../styles/mixins";

.range-input {
  display: flex;
  align-items: center;
  gap: var(--sp-2xs);

  span {
    /* minimize layout shifts */
    min-width: 5ch;
    font-variant-numeric: tabular-nums;
  }

  input[type="range"] {
    flex: 1;
  }
}
