@import "../../../styles/functions";
@import "../../../styles/mixins";

.range {
  display: grid;
  gap: var(--sp-2xs);

  &-slider {
    padding: 4px 0;
  }

  &-inputs {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: var(--sp-2xs);
  }
}
