.label-group {
  margin-block-start: var(--sp-md);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: var(--sp-sm);

  > * {
    gap: 4px;
    grid-template-rows: auto min-content;
    height: 100%;
  }
}
