.label-group {
  margin-block-start: var(--sp-md);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  align-items: center;
  gap: var(--sp-sm);

  > * {
    display: inline-grid;
    gap: 4px;
    grid-template-rows: auto min-content;
    height: 100%;
    align-items: start;
    justify-content: stretch;
  }
}
