@import "../../../../styles/mixins";

.output {
  display: flex;
  flex-direction: column;

  @include desktop {
    align-self: flex-start;
    position: sticky;
    top: var(--sp-xl);
  }

  &-wrapper {
    max-height: 50vh;
    overflow: auto;
  }

  &-code {
    border: solid 1px var(--color-border);
    background-color: var(--color-surface-medium);
    white-space: pre;
    display: flex;
    overflow: auto;
    padding: var(--sp-lg);
    user-select: all;
  }
}

.code {
  --line-height: 1.8;
}
