@import "../../../../styles/mixins";

.preview {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0 4px;
  display: grid;
  gap: var(--sp-xxl);

  h2 {
    margin: 0;
  }

  table {
    --cell-padding: var(--sp-xs);
    margin-left: calc(-1 * var(--cell-padding));
    margin-right: calc(-1 * var(--cell-padding));
  }

  :is(th, td) {
    border: none;
    padding: var(--cell-padding);
  }

  th {
    font-weight: var(--fw-body-bold);
    padding-top: 0;
  }
}

.label-group {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: end;
  gap: var(--sp-base);

  @include desktop {
    grid-template-columns: repeat(12, 1fr);

    > :nth-child(1) {
      grid-column: span 2;
    }

    > :nth-child(2) {
      grid-column: span 4;
    }

    > :nth-child(3) {
      grid-column: span 4;
    }
  }
}
