* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  line-height: calc(2ex + 6px);
}

*,
*::before,
*::after {
  @media (prefers-reduced-motion) {
    animation: none !important;
    transition: none !important;
  }
}

/* stylelint-disable-next-line selector-id-pattern */
#__next,
html,
body {
  height: 100%;
}

button,
label,
input,
textarea,
select,
option {
  font: inherit;
}

input,
select,
textarea {
  --input-padding: 8px;
  padding: var(--input-padding);
  border-radius: 0;
  border: solid 1px var(--color-border);
  font-weight: var(--fw-body-regular);
}

select {
  appearance: none;
  background-color: var(--color-surface-light);
  background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 24 24"><path d="M2 4l10 12l10-12" stroke-width="4" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: calc(100% - var(--input-padding)) center;
  padding-inline-end: calc(3 * var(--input-padding));
}

select,
input:where([type="number"], [type="text"]) {
  min-height: 46px;
}

:where(input,textarea,select,option) {
  font-weight: var(--fw-body-regular);
}

:where(button,label,input,textarea,select,option,a, [tabindex="0"]):focus-visible {
  outline: solid 4px;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

th {
  text-align: start;
}

table {
  border-collapse: collapse;

  // https://github.com/AleksandrHovhannisyan/fluid-type-scale-calculator/issues/14
  font-variant-numeric: tabular-nums;
}
