@import "./functions";
@import "./mixins";

// Generic utility classes that don't need to be CSS modules

.list {
  padding-inline-start: 1em;
  display: grid;
  gap: var(--sp-sm);
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

// Numeric table cells
.numeric {
  text-align: end;
}
