@import "./functions";
@import "./mixins";

// Generic utility classes used for both statically and dynamically rendered content

.list {
  padding-inline-start: 1em;
  display: grid;
  gap: var(--sp-sm);
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}
