@import "./fontFace";
@import "./functions";
@import "./mixins";
@import "./reset";
@import "./variables";
@import "./utils";

::selection {
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  text-shadow: none;
}

body {
  font-size: var(--sp-base);
  font-family: var(--ff-body);
  font-weight: var(--fw-body-regular);
  accent-color: var(--color-surface-dark);
  -webkit-font-smoothing: antialiased;
}

.layout {
  display: grid;
  gap: var(--sp-4xl);
  padding-top: clamped(60px, 148px);
  padding-inline: clamped(12px, 32px);
  padding-bottom: var(--sp-xl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-end: 0.25em;
}

h1 {
  font-size: var(--sp-3xl);
}

h2 {
  font-size: var(--sp-2xl);
}

h3 {
  font-size: var(--sp-xl);
}

h4 {
  font-size: var(--sp-lg);
}

h5 {
  font-size: var(--sp-md);
}

h6 {
  font-size: var(--sp-base);
}

code {
  font-family: var(--ff-code);
  font-weight: var(--fw-code-regular);
  font-size: var(--sp-sm);
  background-color: var(--color-surface-medium);
  padding: 4px;
}
