@import "../../../styles/mixins";

.stack {
  display: grid;
  gap: var(--sp-xxxxl);
  grid-template-columns: minmax(0, 1fr);
  grid-auto-flow: row;

  @include desktop {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
