.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-base);
  background-color: var(--color-surface-dark);
  color: var(--color-surface-light);
  font-size: var(--sp-xs);
}
